<fieldset id="order_details">
	<div class="clear">
	</div>
	<legend>
		<%= t("confirm") %>
	</legend>
	<%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
</fieldset>

<hr />

<div class="form-buttons">
	<p>
		<%= link_to t("continue_shopping"), root_path, :class => 'button continue' %>
	</p>
	<input type="submit" class="continue button primary" value="<%= t("place_order") %>"/>
</div>

