<form>
	<b>How Did You Hear About Us?</b><br />
	<input type="radio" value="Freedom Fighter" /> Freedom Fighter
	<input type="radio" value="Internet Search" /> Internet Search
	<input type="radio" value="Other" /> Other
  <hr class="space" />
</form>
