<form>
	<b>How Did You Hear About Us?</b><br />
	<input type="radio" name="how_did_you_hear" value="Freedom Fighter" /> Freedom Fighter
	<input type="radio" name="how_did_you_hear" alue="Internet Search" /> Internet Search
	<input type="radio" name="how_did_you_hear" value="Other" /> Other
  <hr class="space" />
</form>
