  <p>If you are not happy with your product return it to us within 30 days. We will be happy to exchange for equal or lessor value or refund the full amount of the item sold less any shipping costs.</p>
